/* CSS = Cascading Style Sheet */
/* Les feuilles de style sont des documents annexes à la page html
qui nous permettent de définir des règles d'affichage concernant
les différentes balises html du document. 

Il existe plusieurs règles nous permettant de décorer les balises 
et leurs enfants, ensemble, elles forment la norme CSS, la dernière 
en date est la norme CSS3.  */

/* Pour cibler un ou plusieurs éléments et leur appliquer des règles CSS
Il faut construire un bloc qui se présente sous cette forme: 


selector {
    ... règles css concernant le selector
    ex: 
    background-color: pink;
    color: white;

    etc ...
} */


/* Ici le selector correspond à body, cela signifie que l'on cible toutes
les balises de type <body> et qu'on leur appliquer les règles suivantes. */

/* 
les media queries permettent d'appliquer des règles css conditionnelles en fonction 
de certains critères notamment, la largeur de l'écran
*/
body {
    /* base 16 / hexadécimale */
    background-color: rgb(0, 100, 133);
    color: azure;
}

label {
    width: 150px;
    font-size: 14px;
    display: inline-block;
}

.product {
    background-color: white;
    color: black;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

    .product *{
        margin: 15px;
    }


/*les transitions CSS3 permettent des transitions simples d'un état vers un autre*/

.fadeIn{
    animation-name: appear;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    /* transition-property: all;
    transition-duration: 1s;
    opacity: 1; */
} 

@keyframes appear{
    
    0%{
        opacity: 0;
        background-color: orange;
    } 
    100%{
        opacity: 1;
        background-color: white;
    }
}